@model IEnumerable<LsMapasNet.Entidade.MapaSurdo>


<ul id="listsurdocad" class="collection">
    @foreach (var item in Model)
    {
        <li class="collection-item btnExcluirSurdoMapa">
            <div>
                @item.id_surdo.nome
                <a href=@Url.Action("ExcluirSurdoMapa","Mapa",new { idsurdo = @item.id }) class="secondary-content"><i class="Medium pink-text  text-darken-3 material-icons">delete_forever</i></a>
                <a href=@Url.Action("SurdoCentral","Mapa",new { id = @item.id, idsurdo = @item.idSurdo }) class="secondary-content"><i class="Medium pink-text  text-darken-3 material-icons">delete_forever</i></a>
            </div>
        </li>
    }
</ul>
@section Scriptsoutros
{
    @*<script type="text/javascript">
        $(".btnExcluirSurdoMapa a").click(function () {
            var elem = $(this);
            alert('Click not on');
            console.log(elem.data('id') + " not on");
        });
    </script>*@
}