@model IEnumerable<LsMapasNet.Entidade.MapaSurdo>


<ul class="collection">
    @foreach (var item in Model)
    {
        <li class="collection-item">
            <div>
                @item.id_surdo.nome
                <button class="btnExcluirSurdoMapa secondary-content" data-id=@item.id><i class="Medium pink-text  text-darken-3 material-icons">delete_forever</i></button>
            </div>
        </li>
    }
    </ul>
