@model IEnumerable<LsMapasNet.Entidade.MapaSurdo>

<style type="text/css">
    table {
        width: 14.5cm;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    td {
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
        padding: 5px;
    }

    strong {
        font-family: Arial,"Times New Roman", Georgia, Serif;
        font-size: 12px;
    }

    #map {
        width: 14.5cm;
        height: 9cm;
        margin-top: 5px;
    }
</style>

<input id="btnhiddenidmapa" type="hidden" value=@ViewBag.idMapa></input>

<div style="width: 14.5cm;height: 8.5cm; border: 1px solid black; padding: 5px">
    <table>
        @*<tr>
            <th>
                {{mapa}}
            </th>
        </tr>
        {% for ls in lssurdo %}
        <tr>
            <td>
                <strong>Nome:</strong>&nbsp;{{ ls.id_surdo.nome }}<br />
                <strong>Endereço:</strong>&nbsp;{{ ls.id_surdo.endereco }}&nbsp;&nbsp;
                <strong>Lat:</strong>&nbsp;{{ ls.id_surdo.latitude }}&nbsp;
                <strong>Long:</strong>&nbsp;{{ ls.id_surdo.longitude }}
            </td>
        </tr>
        {% endfor %}*@

        <tr>
            <th >
                @ViewBag.Mapa
            </th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <strong>Nome:</strong>&nbsp; @Html.DisplayFor(modelItem => item.id_surdo.nome)<br />
                    <strong>Endereço:</strong>&nbsp;@Html.DisplayFor(modelItem => item.id_surdo.endereco)&nbsp;&nbsp;
                    <strong>Lat:</strong>&nbsp;@Html.DisplayFor(modelItem => item.id_surdo.latitude)&nbsp;
                    <strong>Long:</strong>&nbsp;@Html.DisplayFor(modelItem => item.id_surdo.longitude)
                </td>
            </tr>
        }
    </table>
</div>
<div id="map"></div>