
@{
    ViewBag.Title = "Incluir Surdo ao Mapa";
}

<h5>Incluir Surdo ao Mapa</h5>

@Html.Hidden("IdMapa")

<input type="text" id="surdoNome" name="surdoNome">


<div id="dvListaSurdoMapa">

    @{

        Html.RenderPartial("_listasurdomapa", (object)ViewBag.ListMapaSurdo);
    }

</div>

@section Scriptsoutros
{   
    <script type="text/javascript">

        $(function () {

            $.get("/mapa/dropdownlistsurdo", function (dados) {
                console.log(dados);
                var options = {
                    data: dados,
                    list: {
                        match: {
                            enabled: true
                        }
                    }
                };

                $("#surdoNome").easyAutocomplete(options);

            });
        });
        $("#btnIncluirMapaSurdo").click(function () {
            if ($("#SelectIdSurdo option:selected").val() == "") {
                alert('Selecione um surdo!');
            }
            else {
                console.log()
                var idmapa = $("#IdMapa").val();
                console.log(idmapa);
                var idselectsurdo = $("#SelectIdSurdo option:selected").val();
                console.log(idselectsurdo);
                $.post("/mapa/IncluirSurdoMapaJson", { IdMapa: idmapa, SelectIdSurdo: idselectsurdo }, function (data) {
                    $.get("/mapa/_listasurdomapa", { id: idmapa }, function (data) {
                        $("#dvListaSurdoMapa").html(data);
                    });
                    //$.get("/mapa/_dropdownlistsurdo", function (datasurdo) {

                    //    var listoption = "";
                    //    for (var i = 0; i < dt[0]['listsurdo'].length; i++) {
                    //        listoption += '<option value=' + dt[0]['listsurdo'][i]['id'] + '>' + dt[0]['listsurdo'][i]['nome'] + '</option>';
                    //    }

                    //    $("#dvDropDownSurdo").html(listoption);
                    //});
                });
            }
        });
    </script>

}
