
@{
    ViewBag.Title = "Incluir Surdo ao Mapa";
}

<h5>Incluir Surdo ao Mapa</h5>

@Html.Hidden("IdMapa")

@*<input type="text" id="surdoNome" name="surdoNome">*@
@*<label for="SurdoNome">Nome</label>*@

@*@Html.TextBox("txtnome",null, new { id = "surdoNome" })*@



<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Autocomplete</label>
            </div>
        </div>
    </div>
</div>



<div id="dvListaSurdoMapa">

    @{

        Html.RenderPartial("_listasurdomapa", (object)ViewBag.ListMapaSurdo);
    }

</div>


@section Scriptsoutros
{
    @*@Scripts.Render("~/bundles/jqueryui")*@

    <script type="text/javascript">

        $(function () {
            @*$('#surdoNome').autocomplete({
                source: '@Url.Action("dropdownlistsurdo")'
            })*@
            //$.get("/mapa/dropdownlistsurdo", function (dados) {

            //    var listsurdo = {};
            //    console.log(dados);

            //    $('#surdoNome').autocomplete({
            //        source: dados
            //    })
                
            //});

            $('input.autocomplete').autocomplete({
                data: {
                    "Apple": null,
                    "Microsoft": null,
                    "Google": 'http://placehold.it/250x250'
                }
            });
        });
        $("#btnIncluirMapaSurdo").click(function () {
            if ($("#SelectIdSurdo option:selected").val() == "") {
                alert('Selecione um surdo!');
            }
            else {
                console.log()
                var idmapa = $("#IdMapa").val();
                console.log(idmapa);
                var idselectsurdo = $("#SelectIdSurdo option:selected").val();
                console.log(idselectsurdo);
                $.post("/mapa/IncluirSurdoMapaJson", { IdMapa: idmapa, SelectIdSurdo: idselectsurdo }, function (data) {
                    $.get("/mapa/_listasurdomapa", { id: idmapa }, function (data) {
                        $("#dvListaSurdoMapa").html(data);
                    });
                    $.get("/mapa/_dropdownlistsurdo", function (datasurdo) {

                        var listoption = "";
                        for (var i = 0; i < dt[0]['listsurdo'].length; i++) {
                            listoption += '<option value=' + dt[0]['listsurdo'][i]['id'] + '>' + dt[0]['listsurdo'][i]['nome'] + '</option>';
                        }

                        $("#dvDropDownSurdo").html(listoption);
                    });
                });
            }
        });
    </script>

}
