
@{
    ViewBag.Title = "Backup";
}

<h5>Backup</h5>

@using (Html.BeginForm())
{

    <div class="container">

        @*<label for="files">Selecione a pasta:</label>
            <input type="file" name="files" multiple/>*@

        <button type="button" id="btnBackup"> Backup </button>
        <a href=@Url.Action("Download", "Configuracao")>Download</a>
        @Html.Hidden("caminho")
        @* <input type="hidden" value="" id="caminho" nome="caminho" />*@
    </div>
}
@section Scriptsoutros
{
    <script type="text/javascript">
        $("#btnBackup").click(function () {
            $.get("/configuracao/backupjson", function (data) {
                console.log(data);
                if (data[0] == 'OK') {
                    $("#caminho").val(data[1]);
                    //$.get("/configuracao/Download", { caminho : data[1]}, function () {

                    //});
                }
            });
        });
    </script>
}
