
@{
    ViewBag.Title = "Restaurar";
}

<div class="container">
    <h5 class="amber-text text-darken-4">Restaurar</h5>

    @using (Html.BeginForm("Restaurar", "Configuracao", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="file-field input-field">
            <div class="btn">
                <span>Selecione</span>
                <input type="file" name="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <input type="submit" value="Upload" class="waves-effect waves-light btn blue darken-4" />
    }
</div>

